.country{
    background-color: rgba(70, 97, 88, 0.883);
   
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 9px 9px 9px rgb(170, 170, 170);
}
.country img{
    width: 150px;
}